@(signUpForm: Form[_])

@main(play.i18n.Messages.get("signup.title"), "signup") {
    
    @helper.form(routes.Application.doSignUp) {
        <fieldset>
            <legend><h1>@play.i18n.Messages.get("signup.title")</h1></legend>
            
            @if(signUpForm.hasErrors) {
                <div class="alert alert-error">
                    <ul>
                    @for((field, error) <- signUpForm.errors) {
                        <li><a class="close" data-dismiss="alert">×</a>@signUpForm.error(field).message</li>
                    }
                    </ul>
                </div>
            }
            
            @if(flash.contains("success")) {
                <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                    @flash.get("success")
                </div>
            }
    
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="name">@play.i18n.Messages.get("forms.name")</label>
                    <div class="controls">
                        <input type="text" id="name" name="name" placeholder="@play.i18n.Messages.get("forms.name")" value="@signUpForm("name").value"> *
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">@play.i18n.Messages.get("forms.email")</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="@play.i18n.Messages.get("forms.email")" value="@signUpForm("email").value"> *
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">@play.i18n.Messages.get("forms.password")</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="@play.i18n.Messages.get("forms.password")"> *
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="repeatPassword">@play.i18n.Messages.get("forms.password")</label>
                    <div class="controls">
                        <input type="password" id="repeatPassword" name="repeatPassword" placeholder="@play.i18n.Messages.get("forms.password.confirm")">
                    </div>
                </div>
                <p>
                    * @play.i18n.Messages.get("forms.required")
                </p>
                </br>
                <button type="submit" class="btn btn-primary">@play.i18n.Messages.get("forms.signup")</button>
            </form>
        </fieldset>
    }
    
    <div class="span3">
        @Messages("playauthenticate.signup.oauth")
        @* Display list of available providers *@
        @_providerPartial(skipCurrent=false)
    </div>
}