@(signInForm: Form[Application.SignIn])

@main("Sign-In", null) {

    @helper.form(routes.Application.authenticate) {
        <fieldset>
            <legend><h1>Sign-In</h1></legend>

            @if(signInForm.hasErrors) {
                <div class="alert alert-error">
                    <ul>
                        @for((field, error) <- signInForm.errors) {
                            <li>
                                <a class="close" data-dismiss="alert">x</a>@signInForm.error(field).message
                            </li>
                        }
                    </ul>
                </div>
            }

            @if(flash.contains("success")) {
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">×</a>
                    @flash.get("success")
                </div>
            }

            <p>
                <input type="text" name="email" placeholder="Email" value="@signInForm("email").value">
            </p>
            <p>
                <input type="password" name="password" placeholder="Password">
            </p>
        </fieldset>

        <div class="form-actions">
            <button type="submit" class="btn btn-success">@Messages("Sign in")</button> @Messages("or") <a href="@routes.Application.signUp">Sign-up</a>
        </div>
        
    }

}
